.search-form {
  width: 100%; /* Ширина элемента в пикселах */
  padding: 10px; /* Поля вокруг текста */
  margin: auto; /* Выравниваем по центру */
  background: rgb(7, 29, 233); /* Цвет фона */
}

.searchQueryBlock {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
